.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    border: .3em solid var(--gray1);
    font-size: 1.3em;
}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr2);
}


.user-msg button{
    float: right;
    margin: 1em;
}