/* .user-msg {
    background-color: rgb(255, 180, 233);
    padding: 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    border: .3em solid var(--gray1);
}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr2);
} */
