.car-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.car-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr1bg);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.238);
}

.car-list .car-actions {
    padding-block: .5rem;
    border-top: 1px solid gray;
    text-align: center;
}

.car-list .car-actions .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
}