.car-preview {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-preview h4 {
    text-transform: capitalize;
    color: black;
}

.car-preview img {
    max-width: 100px;
}