.user-msg {
    background-color: lightgray;
    padding: .5em 1em;
    position: fixed;
    z-index: 1000;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.331);
}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr2);
}


.user-msg button {
    float: right;
    margin: 1em;
}