@font-face {
    font-family: gwendolyn ;
    src: url(../../../fonts/Gwendolyn-Regular.ttf);
}

@font-face {
    font-family: neonderthaw;
    src: url(../../../fonts/Neonderthaw-Regular.ttf);
}
