@font-face {
    font-family: gwendolyn ;
    src: url(../../../fonts/Gwendolyn-Regular.ttf);
}

@font-face {
    font-family: neonderthaw;
    src: url(../../../fonts/Neonderthaw-Regular.ttf);
}

@font-face {
    font-family: caveat;
    src: url(../../../fonts/Caveat-VariableFont_wght.ttf);
}