:root {
  --clr1: rgb(255, 192, 225);
  --clr2: rgb(143, 0, 165);

  --clr1bg: rgb(191, 94, 191);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(243, 165, 208);
  --clr2bg-light: rgba(248, 206, 229, 0.645);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 