.main-layout {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
}

.main-layout>* {
  grid-column: 2;
}

.main-layout .full {
  grid-column: 1/-1;
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}